.ri
{
	padding-right: 3.5em;
}

.share
{
	position: relative;
	display: inline;
	float: right;
	width: 3em;
	height: 100%;
	top: 0;
	right: 0;
}

.popup
{
	position: absolute;
	border:1px dotted orange;
	background-color: white;
	width: 10em;
	z-index: 3;
}

.hidden
{
	display:none;
}

.highlighted
{
	outline:0.1em solid red;
}