.ri
{
	padding-right: 3.5em;
}

.share
{
	position: relative;
	display: inline;
	float: right;
	width: 3em;
	height: 100%;
	top: 0;
	right: 0;
}

.popup
{
	border:0.1em dotted black;
}

.hidden
{
	display:none;
}

.highlighted
{
	outline:0.1em solid red;
}