#pm-overlay {
background: rgba(255,243,203,.8);
	display: none;
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}
.record-wrapper {
    right: 0%;
    -webkit-transition: all 280ms ease 0s;
    -moz-transition: all 280ms ease 0s;
    -ms-transition: all 280ms ease 0s;
    -o-transition: all 280ms ease 0s;
    transition: all 280ms ease 0s;
}
.popup-active .record-wrapper {
    /* right: 300px; */
}
.record > * {
	position: relative;
}
.ri {
    padding: .5em .5em;
    -webkit-margin-before: .5em;
    -webkit-margin-after: .5em;
}
.share
{
	position: absolute;
	left: 100%;
	height: 100%;
	cursor: pointer;
	top: 0px;
	height: 100%;
	padding-top: .65em;
	font-size: 18px;
}

.popup
{
	position: absolute;
        z-index:3;
	border:1px dotted orange;
	background-color: white;
	width: 300px;
        padding:20px;
	z-index: 3;
        opacity:1;

    -webkit-transition: opacity 380ms ease 0s;
    -moz-transition: opacity 380ms ease 0s;
    -ms-transition: opacity 380ms ease 0s;
    -o-transition: opacity 380ms ease 0s;
    transition: opacity 380ms ease 0s;
}

.hidden
{
	display:none;
	opacity: 0;
	z-index: -1;
}

.highlighted
{
        background: rgba(255,223,175,1);
        z-index:3;
        position: relative;
}
